<!DOCTYPE html>
    <html lang="en-US" prefix="og: http://ogp.me/ns#">
      <head>
        <meta charset="UTF-8" />

        <%- meta -%>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1"/>
        
        <meta name="theme-color" content="#33c2b0" />
        
        <meta name="mobile-web-app-capable" content="yes" />

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/resources/common/groww_invert144.jpg" />

        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/resources/common/groww_invert114.jpg" />

        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/resources/common/groww_invert72.jpg" />

        <link rel="shortcut icon" href="/resources/common/groww_invert192.jpg" />

        <link rel="apple-touch-icon-precomposed" href="/resources/common/groww_invert180.jpg" />

        <meta name="msapplication-TileImage" content="/resources/common/groww_invert270.jpg" />
        
        <link rel="icon" type="image/jpg" href="/resources/common/groww_invert192.jpg" sizes="192x192" />

        <link rel="icon" type="image/jpg" href="/resources/common/groww_invert32.jpg" sizes="32x32" />
        
        <link href="/css/app.css" rel="stylesheet" />
        
        <script async>
          !function () {
            var analytics = window.analytics = window.analytics || []; if (!analytics.initialize) if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice."); else {
              analytics.invoked = !0; analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"]; analytics.factory = function (t) { return function () { var e = Array.prototype.slice.call(arguments); e.unshift(t); analytics.push(e); return analytics } }; for (var t = 0; t < analytics.methods.length; t++) { var e = analytics.methods[t]; analytics[e] = analytics.factory(e) } analytics.load = function (t) { var e = document.createElement("script"); e.type = "text/javascript"; e.async = !0; e.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(e, n) }; analytics.SNIPPET_VERSION = "4.0.0"; 
              analytics.load(<%- segmentAnalyticsKey -%>);
              analytics.page();
          }
        } ();
        </script>
      </head>


      <body>
        <div id="main"><%- markup -%></div>

          <script async id="preloadedData" type="application/json">
            <%- preloadedData.replace(/\//g, '\\/') %>
          </script>

          <script src= <%- common -%> ></script>
          <script src= <%- vendor -%> ></script>
          <script src= <%- jsBundle -%> ></script>
          
        </body>
      </html>
