<!DOCTYPE html>
    <html lang="en-US" prefix="og: http://ogp.me/ns#">
      <head>
        <meta charset="UTF-8" />

        <%- meta -%>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1"/>
        
        <meta name="theme-color" content="#33c2b0" />
        
        <meta name="mobile-web-app-capable" content="yes" />

        <link href="/css/app.css" rel="stylesheet" />
        
      </head>


      <body>
        <div id="main"><%- markup -%></div>

          <script async id="preloadedData" type="application/json">
            <%- preloadedData.replace(/\//g, '\\/') %>
          </script>

          <script src= <%- common -%> ></script>
          <script src= <%- vendor -%> ></script>
          <script src= <%- jsBundle -%> ></script>
          
        </body>
      </html>
